@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

body {
   width: 100%;
   position: relative;
   font-size: 16px;
   background-color: white;
   color: rgb(var(--foreground-rgb));
}

.no {
   color: #f2f4f7;
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}

.theme-container {
   padding: 0 calc(12px + 148 * (100vw - 320px) / 1600);
}

/* mobile menu */
.mobile-menu {
   block-size: 100%;
   inline-size: 320px;
}

/* costom */
.webx-admin-panel {
   --sidebar-width: 250px;
}

.webx-admin-panel .webx-admin-sidebar {
   block-size: 100%;
   inline-size: var(--sidebar-width);
}

.webx-admin-panel .webx-content-wapper {
   min-block-size: 100vh;
   /* padding-inline-start: var(--sidebar-width); */
}



.webx-admin-panel .layout-page-content {
   inline-size: 100%;
   padding-inline: 1rem;
   padding-block: 1rem;
}

.webx-admin-panel .webx-admin-footer {
   inline-size: 100%;
   padding-inline: 1rem;
}

.webx-admin-panel.overlay-menu {
   --sidebar-width: 0px;
}

/* .webx-admin-panel .webx-admin-sidebar {
   z-index: 1004;
   block-size: 100%;
   inline-size: var(--sidebar-width);
   inset-block-start: 0;
   inset-inline-start: 0;
   transition: transform 0.3s ease-in-out, inline-size 0.3s ease-in-out;
   will-change: transform, inline-size;
}

.webx-admin-panel .webx-content-wapper {
   min-block-size: 100vh;
   padding-inline-start: var(--sidebar-width);
   transition: padding-inline-start 0.3s ease-in-out;
   will-change: padding-inline-start;
} */

/* .webx-admin-panel .webx-admin-header {
   position: sticky;
   inline-size: 100%;
} */

.webx-admin-panel .webx-footer {
   inline-size: 100%;
   block-size: 45px;
   padding-inline: 1rem;
}

/* success svg animation */
.success-animation {
   margin: 150px auto;
}

.checkmark {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   display: block;
   stroke-width: 2;
   stroke: #4bb71b;
   stroke-miterlimit: 10;
   box-shadow: inset 0px 0px 0px #4bb71b;
   animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
   position: relative;
   top: 5px;
   right: 5px;
   margin: 0 auto;
}

.checkmark__circle {
   stroke-dasharray: 166;
   stroke-dashoffset: 166;
   stroke-width: 2;
   stroke-miterlimit: 10;
   stroke: #4bb71b;
   fill: #fff;
   animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
   transform-origin: 50% 50%;
   stroke-dasharray: 48;
   stroke-dashoffset: 48;
   animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
   100% {
      stroke-dashoffset: 0;
   }
}

@keyframes scale {

   0%,
   100% {
      transform: none;
   }

   50% {
      transform: scale3d(1.1, 1.1, 1);
   }
}

@keyframes fill {
   100% {
      box-shadow: inset 0px 0px 0px 30px #4bb71b;
   }
}


/* loading animation */
.loader-wrap .ellipse:nth-child(1) {
   animation: gooey 1s cubic-bezier(0.59, 0.8, 0.29, 0.1) infinite both alternate-reverse;
   animation-delay: 0.1666666667s;
}

@keyframes gooey {
   to {
      transform: translate3d(230px, 0, 0);
   }
}

.loader-wrap .ellipse:nth-child(1) {
   animation: gooey 1s cubic-bezier(0.59, 0.8, 0.29, 0.1) infinite both alternate-reverse;
   animation-delay: 0.3333333333s;
}

@keyframes gooey {
   to {
      transform: translate3d(230px, 0, 0);
   }
}

.loader-wrap .ellipse:nth-child(1) {
   animation: gooey 1s cubic-bezier(0.59, 0.8, 0.29, 0.1) infinite both alternate-reverse;
   animation-delay: 0.5s;
}

@keyframes gooey {
   to {
      transform: translate3d(230px, 0, 0);
   }
}

.loader-wrap .ellipse:nth-child(1) {
   animation: gooey 1s cubic-bezier(0.59, 0.8, 0.29, 0.1) infinite both alternate-reverse;
   animation-delay: 0.6666666667s;
}

@keyframes gooey {
   to {
      transform: translate3d(230px, 0, 0);
   }
}